<body>

    <footer>
        <p> Copyright &copy; <span id="year"></span> <b>{{name}}</b> </p>
    </footer>
    <script>
        const year = document.getElementById('year')
        year.innerText = new Date().getFullYear()

    </script>
</body>